<div class="m-3">
    <table class="table table-bordered table-striped table-hover">
        <thead *ngIf = "jobs.length > 0" class="thead-dark">
            <tr>
                <th>Job Title</th>
                <th>Organization</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let job of jobs" routerLink="/job/{{job.id}}" id="clickableRow">
                <td>{{job.title }}</td>
                <td>{{ job.organization }}</td>
                <td>{{ job.location }}</td>
            </tr>
        </tbody>
    </table>
</div>