<div align="center">
  <h2>Tips and Tricks</h2>
</div>
  <h3><br>Resumes</h3>
  <p>
    Here are some helpful links for writing a good resume.
    <li>
      <a href="https://www.wikihow.com/Make-a-Resume">Wikihow</a>.
    </li>
    <li>
        <a href="https://coop.cs.umanitoba.ca">UofM Co-op</a>.
    </li>
    <li>
        <a href="https://google.ca">Google</a> can be a very resourceful tool.
    </li>
  </p>

  <h3><br>Cover letters</h3>
  <p>
    Here are some helpful links for writing a steller cover letter. Guarantee hired or your money back.
    <li>
      Here is a <a href="https://www.thebalance.com/cover-letter-sample-for-a-resume-2060250">sample</a> 
      on how to write a cover letter.
    </li>
    <li>
        <a href="https://google.ca">Google</a> can be one of the greatest resources.
    </li>
  </p>

  <h3><br>Interviews</h3>
  <p>
    Articles or resources that will aid you in your interview process.
    <li>
        Cracking the code Interview on <a href="https://www.amazon.ca/Cracking-Coding-Interview-Programming-Questions/dp/0984782850/ref=pd_lpo_sbs_14_t_0?_encoding=UTF8&psc=1&refRID=V0RRQ1PQDEYPZ0DD3QH4">Amazon</a> 
        can be great to practice interivew type of questions.
    </li>
    <li>
        Practing interview questions with fellow classmates.
    </li>
    <li>
        Practice coding problems on paper/whiteboard.
    </li>
    <li>
        Vocalize your thought process as you solve programming problems.
    </li>
    <li>
        Ask the interviewer(s) questions if you're unsure. They are there to help you.
    </li>
  </p>