<div align="center">
  <h2>Tips and Tricks</h2>
</div>
  <h3>Resumes</h3>
  <p>
    Here are some helpful links for writing a good resume.
    <li>
      <a href="https://www.wikihow.com/Make-a-Resume">Wikihow</a>
    </li>
    <li>
      <a herf="https://coop.cs.umanitoba.ca">UofM Co-Op</a>
    </li>
    <li>
        <a herf="https://google.ca">Google</a> can be one of the greatest resources.
    </li>
  </p>

  <h3>Cover letters</h3>
  <p>
    Here are some helpful links for writing a steller cover letter. Guarantee hired or your money back.
    <li>
      Here is a <a herf="https://www.thebalance.com/cover-letter-sample-for-a-resume-2060250">sample</a> 
      on how to write a cover letter.
    </li>
    <li>
        <a herf="https://google.ca">Google</a> can be one of the greatest resources.
    </li>
  </p>

  <h3>Interviews</h3>
  <p>
    Articles or resources that will aid you in your interview process.
    <li>
      Cracking the Coding Interview on <a herf="https://www.amazon.ca/Cracking-Coding-Interview-Programming-Questions/dp/
      0984782850/ref=sr_1_1?ie=UTF8&qid=1519639056&sr=8-1&keywords=cracking+the+coding+interview">Amazon</a>
    </li>
  </p>