<h4>Add an answer</h4>
<form [formGroup]="addAnswerForm" (submit)="onAnswerSubmit()">
  <div class="form-group">
    <label for="authorInput">Name</label>
    <input type="text" class="form-control" id="authorInput" formControlName="author" placeholder="John Doe">

    <span class="text-danger author-danger" *ngIf="formValidation.author">
        Please enter a valid name (max 25 characters)
      </span>
  </div>

  <div class="form-group">
    <label for="answerBody">Answer</label>
    <textarea class="form-control" id="answerBody" formControlName="body" rows="3">
    </textarea>

    <span class="text-danger body-danger" *ngIf="formValidation.body">
      Please enter a valid answer (max 300 characters)
    </span>
  </div>

  <button type="submit" [disabled]="!addAnswerForm.valid" class="btn btn-primary">Submit</button>
</form>

<p class="text-success" *ngIf="answerSent">Answer was sent successfully</p>
<p class="text-warning" *ngIf="answerSent == false">An error occured while sending your answer, please try again later</p>
